schema/testentry.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT entry (#PCDATA|block|figure|folio|heading|purpose|list)*>
<!ATTLIST entry
  xmlns CDATA #FIXED ''
  group NMTOKEN #IMPLIED
  identifer NMTOKEN #IMPLIED
  identifier NMTOKEN #IMPLIED>

<!ELEMENT entry_group (folio,(block|heading)+)>
<!ATTLIST entry_group
  identifier NMTOKEN #REQUIRED>

<!ELEMENT list (foreign|item+)>
<!ATTLIST list
  xmlns CDATA #FIXED ''
  purpose NMTOKEN #IMPLIED>

<!--
<!ELEMENT margin-block (#PCDATA|animal|material|tool)*>
<!ATTLIST margin-block
  xmlns CDATA #FIXED ''
  position NMTOKEN #REQUIRED
  purpose CDATA #IMPLIED>

<!ELEMENT ul (li)+>
<!ATTLIST ul
  xmlns CDATA #FIXED ''>
-->


<!ELEMENT plant (#PCDATA)>
<!ATTLIST plant
  xmlns CDATA #FIXED ''>
<!--
<!ELEMENT personal_name (#PCDATA)>
<!ATTLIST personal_name
  xmlns CDATA #FIXED ''>
-->
<!ELEMENT figure EMPTY>
<!ATTLIST figure
  xmlns CDATA #FIXED ''
  identifier NMTOKEN #IMPLIED
  number NMTOKEN #IMPLIED
  position NMTOKEN #IMPLIED
  url CDATA #IMPLIED>

<!ELEMENT heading (#PCDATA|activity|material)*>
<!ATTLIST heading
  xmlns CDATA #FIXED ''
  position NMTOKEN #IMPLIED>

<!ELEMENT purpose (#PCDATA|activity|material|material_format|profession
                   |ref|sub_recipe|tool|embellishee|measurement)*>
<!ATTLIST purpose
  xmlns CDATA #FIXED ''
  type NMTOKEN #REQUIRED>

<!ELEMENT embellishee (#PCDATA|material)*>
<!ATTLIST embellishee
  xmlns CDATA #FIXED ''>

<!ELEMENT measurement (#PCDATA)>
<!ATTLIST measurement
  xmlns CDATA #FIXED ''>

<!ELEMENT profession (#PCDATA)>
<!ATTLIST profession
  xmlns CDATA #FIXED ''>

<!ELEMENT place (#PCDATA)>
<!ATTLIST place
  xmlns CDATA #FIXED ''>

<!ELEMENT folio (heading?,(block|image)*)>
<!ATTLIST folio
  xmlns CDATA #FIXED ''
  end NMTOKEN #IMPLIED
  image CDATA #IMPLIED
  number NMTOKEN #IMPLIED
  start NMTOKEN #IMPLIED
  url CDATA #IMPLIED
  url2 CDATA #IMPLIED>
<!--
<!ELEMENT related-block (block+,folio?)>
<!ATTLIST related-block
  xmlns CDATA #FIXED ''>
-->
<!ELEMENT block (#PCDATA|activity|animal|figure|foreign
                 |material|material_format|place|plant
                 |profession|purpose|ref|sub_recipe|tool|unit|color|name|q
                 |sup|time)*>
<!ATTLIST block
  xmlns CDATA #FIXED ''
  identifier NMTOKEN #IMPLIED
  pisiton NMTOKEN #IMPLIED
  position NMTOKEN #IMPLIED
  purpose CDATA #IMPLIED>

<!ELEMENT color (#PCDATA)>
<!ATTLIST color
  xmlns CDATA #FIXED ''>

<!ELEMENT name (#PCDATA)>
<!ATTLIST name
  xmlns CDATA #FIXED ''
  type NMTOKEN #REQUIRED>

<!ELEMENT q (foreign)>
<!ATTLIST q
  xmlns CDATA #FIXED ''>

<!ELEMENT sup (#PCDATA|material)*>
<!ATTLIST sup
  xmlns CDATA #FIXED ''>

<!ELEMENT time (#PCDATA)>
<!ATTLIST time
  xmlns CDATA #FIXED ''>


<!ELEMENT material (#PCDATA|animal | foreign)*>
<!ATTLIST material
  xmlns CDATA #FIXED ''
  type NMTOKEN #IMPLIED>

<!ELEMENT animal (#PCDATA)>
<!ATTLIST animal
  xmlns CDATA #FIXED ''>

<!ELEMENT tool (#PCDATA|material|tool)*>
<!ATTLIST tool
  xmlns CDATA #FIXED ''>

<!ELEMENT foreign (#PCDATA|item)*>
<!ATTLIST foreign
  xmlns CDATA #FIXED ''
  language NMTOKEN #REQUIRED>

<!ELEMENT item (#PCDATA|material|tool|unit)*>
<!ATTLIST item
  xmlns CDATA #FIXED ''>

<!ELEMENT activity (#PCDATA|activity|material)*>
<!ATTLIST activity
  xmlns CDATA #FIXED ''>

<!ELEMENT material_format (#PCDATA|material)*>
<!ATTLIST material_format
  xmlns CDATA #FIXED ''>

<!ELEMENT ref (#PCDATA)>
<!ATTLIST ref
  xmlns CDATA #FIXED ''
  identifier NMTOKEN #IMPLIED
  type NMTOKEN #IMPLIED>

<!ELEMENT sub_recipe (#PCDATA|foreign|material|tool)*>
<!ATTLIST sub_recipe
  xmlns CDATA #FIXED ''
  type NMTOKEN #IMPLIED>

<!ELEMENT image EMPTY>
<!ATTLIST image
  xmlns CDATA #FIXED ''
  identifier NMTOKEN #REQUIRED
  position NMTOKEN #IMPLIED
  url CDATA #REQUIRED>
<!--
<!ELEMENT keyword (#PCDATA)>
<!ATTLIST keyword
  xmlns CDATA #FIXED ''>
-->
<!ELEMENT unit (#PCDATA|tool)*>
<!ATTLIST unit
  xmlns CDATA #FIXED ''>

